{% extends 'GogoleMainBundle:Main:index.html.twig' %}

{% block body -%}
    <h2 class="text-center"><span>L</span>iste des stocks</h2>

    <table class="table">
        <tr>
            <th><span>R</span>éférence</th>
            <th><span>N</span>om</th>
            <th><span>P</span>rix d'achat</th>
            <th><span>P</span>rix de vente</th>
            <th><span>M</span>arge</th>
            <th><span>Q</span>uantité en stock</th>
            <th><span>S</span>euil</th>
            <th><span>A</span>ctions</th>
        </tr>
        {% for entity in entities %}
            <tr>
                {#{<td><a href="{{ path('stockmanager_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>}#}
                <td>{{ entity.ref }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.pa }}</td>
                <td>{{ entity.pv }}</td>
		        <td>{{ entity.marge }} </td>
                <td>{{ entity.qttStock }}</td>
                <td>{{ entity.qttSeuil }}</td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <a href="{{ path('stockmanager_show', { 'id': entity.id }) }}">
                                    <input type="button" class="btn btn-default" value="Voir" />
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('stockmanager_edit', { 'id': entity.id }) }}">
                                    <input type="button" class="btn btn-default" value="Modifier" />
                                </a>
                            </td>
    		                <td>{{ form(boutonDelete[entity.id]) }} </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
        
    </table>
    <a href="{{ path('stockmanager_new') }}">
        <input type="button" class="btn btn-default" value="Créer un produit" />
    </a>
{% endblock %}
