{% extends '::base.html.twig' %}

{% block body -%}
    <h1>stockManager creation</h1>

	{{ form_start(form) }}
	{{ form_row(form.ref) }}
	{{ form_row(form.nom) }}
	{{ form_row(form.pa) }}
	{{ form_row(form.pv) }}
	{{ form_row(form.qttStock) }}
	{{ form_row(form.qttSeuil) }}
	{{ form_end(form) }}

        <a href="{{ path('stockmanager') }}">
            <input type="button" value="retour" />
        </a>
{% endblock %}
