{% extends 'GogoleMainBundle:Main:index.html.twig' %}

{% block body -%}
    <h2 class="text-center"><span>C</span>réer un produit à stocker</h2>

    <div class="row">
    	<div class="col-md-offset-5 col-md-4">
			{{ form_start(form) }}
			{{ form_errors(form) }}
				<div class="form-group">
					<p><b><span>R</span>éférence </b></p>
					{{ form_widget(form.ref) }}
				</div>
				<div class="form-group">
					<p><b><span>N</span>om </b></p>
					{{ form_widget(form.nom) }}
				</div>
				<div class="form-group">
					<p><b><span>P</span>rix d'achat </b></p>
					{{ form_widget(form.pa) }}
				</div>
				<div class="form-group">
					<p><b><span>P</span>rix de vente </b></p>
					{{ form_widget(form.pv) }}
				</div>
				<div class="form-group">
					<p><b><span>Q</span>uantité en stock </b></p>
					{{ form_widget(form.qttStock) }}
				</div>
				<div class="form-group">
					<p><b><span>S</span>euil </b></p>
					{{ form_widget(form.qttSeuil) }}
				</div>

			{{ form_end(form) }}

		    <a href="{{ path('stockmanager') }}">
		        <input type="button" class="btn btn-default" value="Retour" />
		    </a>
		</div>
	</div>
{% endblock %}
