{% extends 'GogoleMainBundle:Main:index.html.twig' %}

{% block body %}

    <h2 class="text-center">Liste de catégorie des contacts</h2>

    <br />

    <div class="row">
        <div class="col-md-offset-3 col-md-6"
            
            <br />

            <a href=" {{ path('categoriecontact_new') }}">
                <input type="submit" class="btn btn-default" value="Créer catégorie" />
            </a>

            <br />

            <table class="table table-hover">
                <tr>
                   	<th>Type de contact</th>
                    <th>Actions</th>
                </tr>
                    
                {% for entity in entities %}
                	<tr>
                    {#{	<td><a href="{{ path('categoriecontact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> }#}
                        <td>{{ entity.typeContact }}</td>
                        <td>
                            <table>
            				    <tr>
                                    {#{<td><a href="{{ path('categoriecontact_show', { 'id': entity.id }) }}">show</a></td>}#}
                                    <td><a href="{{ path('categoriecontact_edit', { 'id': entity.id }) }}"><input type="button" class="btn btn-default" value="Modifier" /></a></td>
                                	<td>{{ form(boutonDelete[entity.id]) }}
            				    </tr>
            				</table>
                        </td>
                    </tr>
                {% endfor %}
                    
            </table>

            <br />

            <a href="{{ path('categoriecontact_new') }}">
                <input type="submit" class="btn btn-default" value="Créer catégorie" />
            </a>
        </div>
    </div>
{% endblock %}
