{% extends 'GogoleMainBundle:Main:index.html.twig' %}
{% block body %}
	<h2 class="text-center"><span>L</span>iste de contact</h2>

	<br />
    <div class="row">

        
        <a href=" {{ path('contact_new') }}">
	       	<input type="submit" class="btn btn-default" value="Créer un contact" />
	    </a>

	    <br />

    	<table class="table table-hover">
                <tr>
                    <th><span>N</span>om</th>
                    <th><span>P</span>rénom</th>
                    <th><span>E</span>-mail</th>
                    <th><span>T</span>éléphone</th>
                    <th><span>C</span>ommentaire</th>
                    <th><span>D</span>ate de naissance</th>
    		        <th><span>S</span>ociété</th>
    		        <th><span>C</span>atégorie de contact </th>
                    <th><span>A</span>ctions</th>
                </tr>
            
                {% for entity in entities %}
                    <tr>
                        {#{<td><a href="{{path('contact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>}#}
                        <td>{{ entity.nomContact }}</td>
                        <td>{{ entity.prenomContact }}</td>
                        <td>{{ entity.eMailContact }}</td>
                        <td>{{ entity.telContact }}</td>
                        <td>{{ entity.commentaireContact }}</td>
                        <td>{% if entity.dateDeNaissanceContact %}{{ entity.dateDeNaissanceContact|date('d-m-Y H:i:s') }}{% endif %}</td>
                        <td>{{ entity.societe }}</td>
                        <td>{{ entity.categorieContact }}</td>        		        
        		        <td>
                            <table>
                                <tr>
                                    <td><a href="{{ path('contact_show', { 'id': entity.id }) }}"><input type="button" class="btn btn-default" value="Afficher" /></a></td>
                                    <td>
                                        <a href="{{ path('contact_edit', { 'id': entity.id }) }}"><input type="button" class="btn btn-default" value="Modifier" /></a>
                                    </td>
                		            <td>
                                        {{ form(boutonDelete[entity.id]) }} 
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            
    	</table>

        <br />

    	<a href="{{ path('contact_new') }}">
    		<input type="submit" class="btn btn-default" value="Créer un contact" />
    	</a>
        
    </div>

{% endblock %}
