{% extends 'GogoleMainBundle:Main:index.html.twig' %}

{% block body %}
    <h2 class="text-center"><span>F</span>iche du contact</h2>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2">
            <table class="table">
            
        	   {#{<tr><th>Id</th><td>{{ entity.id }}</td></tr>}#}
                    <tr>
                        <th><span>N</span>om</th>
                        <td>{{ entity.nomContact }}</td>
                    </tr>
                    <tr>
                        <th><span>P</span>rénom</th>
                        <td>{{ entity.prenomContact }}</td>
                    </tr>
                    <tr>
                        <th><span>E</span>-mail</th>
                        <td>{{ entity.eMailContact }}</td>
                    </tr>
                    <tr>
                        <th><span>T</span>éléphone</th>
                        <td>{{ entity.telContact }}</td>
                    </tr>
                    <tr>
                        <th><span>C</span>ommentaire</th>
                        <td>{{ entity.commentaireContact }}</td>
                    </tr>
                    <tr>
                        <th><span>D</span>ate de Naissance</th>
                        <td>{{ entity.dateDeNaissanceContact|date('d-m-Y H:i:s') }}</td>
                    </tr>
            	    <tr>
            		    <th><span>S</span>ociete</th>
            		    <td>{{ entity.societe }}</td>
            	    </tr>
            	    <tr>
            		    <th><span>C</span>atégorie</th>
            		    <td>{{ entity.categorieContact }} </td>
            	    </tr>
                
            </table>

            <a href="{{ path('contact') }}">
                <input type="button" class="btn btn-default" value="Retour" />
            </a>
            <a href="{{ path('contact_edit', { 'id': entity.id }) }}">
                <input type="button" class="btn btn-default" value="Modifier" />
            </a>

            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
