{% extends "GogoleMainBundle:Main:layout.html.twig"%}

{% block todo %}
	<div class ="row" >
		<div class="col-md-12">
			<a href="{{ path('gogole_todo_creationTache') }}">
				<button class="pull-right">
					Créer une tache
				</button>
			</a>

			<h2>Taches actuelles</h2>
			<table class="table table-hover">
				<tr>
					<th>Date de création</th>
					<th>Votre tache</th>
					<th>Date d'échéance</th>
				</tr>
        		{% for uneTache in tache_encourt %}
	        		<tr>        				
	    				<td>{{ uneTache.dateCreation|date('d/m/Y') }}</td>
			           	<td>{{ uneTache.tache }}</td>
			            <td>{{ uneTache.dateEcheance|date('d/m/Y')}}</td>
						<td>
							<a href="{{ path('gogole_todo_modifierTache',{id:uneTache.id}) }}"><button type="submit" class="btn btn-default">Modifier</button></a>
							
						</td>
						<td>
							<a href="{{ path('gogole_todo_supprimerTache',{id:uneTache.id}) }}"><button type="submit" class="btn btn-default">Supprimer</button></a>	
						</td>
					</tr>  
      			{% endfor %}
	       	</table>

	       </br>	<!-- tableau des taches terminées -->

			<h2>Taches terminées</h2>
			<table class="table table-hover">
				<tr>
					<td>Date de création</td>
					<td>Votre tache</td>
					<td>Date d'échéance</td>
					<td>Date terminées</td>
				</tr>
        		{% for uneTache in tache_terminer %}
	        		<tr>        				
	    				<td><del>{{ uneTache.dateCreation|date('d/m/Y') }}</del></td>
			           	<td><del>{{ uneTache.tache }}</del></td>
			            <td><del>{{ uneTache.dateEcheance|date('d/m/Y')}}</del></td>
			            <td><del>{{ uneTache.dateFait|date('d/m/Y')}}</del></td>
						<td>
							<a href="{{ path('gogole_todo_modifierTache',{id:uneTache.id}) }}"><button type="submit" class="btn btn-default">modifier</button></a>
							
						</td>
						<td>
							<a href="{{ path('gogole_todo_supprimerTache',{id:uneTache.id}) }}"><button type="submit" class="btn btn-default">supprimer</button></a>	
						</td>
					</tr>  
      			{% endfor %}
	       	</table>
		</div>
	</div>
{% endblock%}
